<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Asul' rel='stylesheet'>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<header>
    Coptic Manuscript Reconstruction Tasks
</header>

<div class="button-container">
    <form action="/predict">
        <button>Predict Lacuna</button>
    </form>

    <form action="/predict_k">
        <button>Predict Lacuna (top k)</button>
    </form>

    <form action="/rank">
        <button>Rank Lacuna Candidates</button>
    </form>
</div>

</body>
</html>